* {
	box-sizing: border-box;
	font-size: small;
	font-family: verdana;
	text-transform: lowercase;
	text-align: center;
}

input {
	border: solid 1px grey;
}

button {
	background-color: paleturquoise;
	margin: 10px;
	padding: 10px;
	border-radius: 12px;
	border: 2px solid grey;
	color: grey;
	font-weight: bold;
}

button:hover {
	background-color: turquoise;
}

.hidden {
	display: none;
}

.flex-box {
	display: flex;
}

.left_column {
	border-right: 1px solid black;
	height: 100%;
	width: 30%;
}

.right_column {
	display: flex;
	justify-content: center;
	width: 70%;
}

#settings {
	border-top: 1px solid black;
	padding: 10px 0 0 0;
}

#currentStatus {
	white-space: pre-wrap;
	padding: 0 0 10px 0;
}

.cell {
	margin: 0;
	padding: 0;
	width: 18px;
	border: none;
	border-top: 1px solid blue;
	border-left: 1px solid blue;
}

.headerCell {
	padding: 0;
	width: 18px;
	border: none;
	text-align: center;
}

.row {
	display: flex;
	margin: 0;
	padding: 0;
	height: 18px;
}

.rightColumnCell {
	border-right: 1px solid blue;
}

.bottomRowCell {
	border-bottom: 1px solid blue;
}

.rowHeaderCell {
	margin: 0 3px;
}

.board {
	border: 1px solid blue
}

.highlighted {
	background-color: yellow;
}
