.main {
  margin: auto;
  max-width: 550px;
}

.header {
  margin: 20px 0;
}

.profilepic {
  width: 165px;
  height: 165px;
  margin-right: 10px;
  border-radius: 20px;
  float: left;
}

.content {
  font-size: 14px;
}
