.header {
  margin: 20px 0;
  display: flex;
}

.header h1 {
  margin: 0;
}

.profilepic {
  width: 165px;
  height: 165px;
  margin-right: 10px;
  border-radius: 20px;
  float: left;
}

.titles :last-child {
  margin-bottom: 0;
}

.content {
  font-size: 14px;
}

@media (max-width: 500px) {
  .header {
    margin: 5px;
    flex-direction: column;
  }

  .profilepic {
    margin: auto;
  }

  .titles {
    text-align: right;
  }
}
