.header {
  margin: 20px 0;
  display: flex;
}

.profilepic {
  width: 165px;
  height: 165px;
  margin-right: 10px;
  border-radius: 20px;
  float: left;
}

.titles :last-child {
  margin-bottom: 0;
}

.content {
  font-size: 14px;
}
