.header {
  margin: 0 0 20px;
  display: flex;
}

.header h1 {
  margin: 0;
}

.header h2 {
  margin: 0;
}

.main {
  margin: 10px auto;
  max-width: 60%;
  min-width: 633px;
}

.pics {
  display: flex;
  justify-content: space-evenly;
}

.profilepic {
  float: left;
  height: 285px;
  margin-right: 14px;
  border-radius: 20px;
}

.monkeypic {
  float: right;
  height: 210px;
  border-radius: 20px;
  margin-left: 14px;
}

.titles :last-child {
  margin-bottom: 0;
}

.content {
  margin: 0 14px;
}
