.header {
  height: 60px;
  padding: 6px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.navBar {
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.selected span {
  border-bottom: 2px solid #a714a2;
  border-radius: 2px;
  transition: 0.5s;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d0a00;
}

.navItem:hover {
  text-decoration: none;
}

.navItemText {
  text-transform: uppercase;
  font-size: 16px;
}

.headerImage {
  display: none;
  margin: 3px;
  height: 18px;
}

@media (max-width: 500px) {
  .header {
    height: auto;
    position: sticky;
    top: 0;
  }

  .headerImage {
    display: inline;
  }

  .navBar {
    flex-direction: row;
    text-align: center;
  }

  .navItem {
    margin: 5px 0;
  }

  .navItemText {
    display: none;
  }
}
