.header {
  height: 60px;
  padding: 6px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a714a2;
}

.navBar {
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.selected span {
  font-weight: bold;
  color: #a714a2;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemText {
  text-transform: uppercase;
}

.headerImage {
  display: none;
  margin: 3px;
  height: 18px;
}

@media (max-width: 500px) {
  .header {
    height: auto;
    position: sticky;
    top: 0;
  }

  .headerImage {
    display: inline;
  }

  .navBar {
    flex-direction: row;
    text-align: center;
  }

  .navItem {
    margin: 5px 0;
  }

  .navItemText {
    display: none;
  }
}
