.footer {
  position: fixed;
  bottom: 0;
  height: 28px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content {
  margin: 0 5px;
}

.footer_logo {
  height: 18px;
  margin: 1px 5px;
}
