@font-face {
  font-family: 'arkhip';
  src: url('./media/fonts/arkhip.otf') format('opentype');
}

@font-face {
  font-family: 'gothic';
  src: url('./media/fonts/gothic.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'gothic', serif;
}

h1 {
  color: #1d0a00;
  font-family: 'arkhip', sans-serif;
  font-size: 40px;
}

h2 {
  color: #1d0a00;
  font-size: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

body {
  margin: 0;
  color: #1d0a00;
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  .main {
    margin: 5px 5px;
  }
}

a {
  text-decoration: none;
  color: #a714a2;
}

a:visited {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

p,
span {
  text-transform: none;
  font-size: 14px;
}
