@font-face {
  font-family: 'arkhip';
  src: url('./media/fonts/Arkhip-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
  font-family: 'Century Gothic';
}

h1 {
  font-family: 'arkhip';
  font-size: 40px;
}

h2 {
  font-size: 22px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

body {
  /* background: #192b40; */
  margin: 0;
  color: #1d0a00;
  /* color: azure; */
}

@media (max-width: 500px) {
  .main {
    margin: 5px 5px;
  }
}

a {
  text-decoration: none;
  color: #1d0a00;
  transition: 3s;
  /* color: #eff8fa; */
}

a:visited {
  color: #08353D;
  /* color: #eff8fa; */
}

a:hover {
  color: #0097ec;
  transition: 1s;
}

p, span {
  text-transform: none;
  font-size: 14px;
}
