* {
  font-family: Menlo, monospace;
}

.main {
  margin: 20px auto 40px;
  max-width: 550px;
}

body {
  background: #0f151e;
  margin: 0;
  color: #eff8fa;
}

a {
  color: #b0e2f9;
}

a:hover {
  color: #e0f4fd;
}

@media (max-width: 500px) {
  .main {
    margin: 5px 5px;
  }
}

p, p > * {
  font-family: Helvetica;
  line-height: 140%;
  font-size: 100%;
  letter-spacing: .2px;
}
